html, body{
  margin: 0;
  padding: 0;
  text-align: center;  
  font-family: "Myriad Pro", "Arial", regular,  sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

 .main{
  width: 1920px;
  margin: 0 auto;
}

/* header */

.header{
  margin: 0;
  height: 600px;
  background: linear-gradient(#f48c82, #fce28a);
}

.navigation-menu{
  font-size: 14px;
  line-height: 26px;
  height: 80px;
}

.item{
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  color: #fff;
}

.item_link{
  text-decoration: none;
  color: #fff;
}

.item_link:hover{
  text-decoration: underline;
  color: #fce38a
}

/* about */

.about{
  height: 1020px;
  
}